{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <h1>Mot de passe oublié</h1>
    {{ form_start(emailForm) }}
    <div class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            {{ form_row(emailForm.email) }}
        </div>
        {{ form_row(emailForm.envoyer) }}
    </div>
    {{ form_end(emailForm) }}
{% endblock %}
