{% extends 'base.html.twig' %}
{% block title %}Les Films{% endblock %}
{% block body %}
    <h1 class="font-weight-normal">Nos films</h1>
    <div class="row justify-content-md-center">
        {% for film in all_films %}
            <div class="card shadow-lg p-1 m-3" style="width: 18rem;">
                <img src="{{ film.image }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ film.titre }}</h5>
                    <p class="card-text">{{ film.description| striptags | slice(0, 50) }} ...</p>
                    <a href="{{ path('movie.show',{ 'id':film.id }) }}" class="btn btn-primary">lire la suite</a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

