{% extends 'base.html.twig' %}

{% block title %}Avis{% endblock %}

{% block body %}
    <article>
        <div class="card my-5">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <img src="{{ movie.image }}" class="card-img-top" alt="...">
                </div>
                <div class="col-md-4">
                    <div class="card-body">
                        <h5 class="card-title pb-3">Titre: {{ movie.titre }}</h5>
                        <p class="card-text pt-1">Date de sortie: {{ movie.createdAt | date('d/m/Y') }}</p>
                        <p class="card-text pt-1">Réalisateur: {{ movie.realisateur }}</p>
                        <p class="card-text pt-1">Acteur: {{ movie.acteur }}</p>
                        <p class="card-text pt-1">Durée: {{ movie.duree }}</p>
                        <em>Description</em>
                        <p class="card-text pt-1">{{ movie.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <section id="avis">

        {% for i in 0..moyenne|round %}
            <img src="{{ asset('img/etoile.png') }}" alt="...">
        {% endfor %}

        <h1>{{ movie.recommandations|length }} recommandations :</h1>
        {% for recommandation in movie.recommandations %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">{{ recommandation.auteur|e }}
                        (<small>{{ recommandation.createdAt | date('d/m/Y à H:i') }}</small>)
                    </div>
                    <div class="col">
                        <p>
                            {{ recommandation.commentaire|e }}
                        </p>
                    </div>
                    <div class="col">
                        {% for i in 0..recommandation.note-1 %}
                            <img src="{{ asset('img/etoile.png') }}" alt="..." style="">
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if is_granted('ROLE_USER') %}
            {{ form_start(form) }}
            {{ form_row(form.auteur,{'attr':{'placeholder':'Votre nom'}}) }}
            {{ form_row(form.note) }}
            {{ form_row(form.commentaire,{'attr':{'placeholder':'Votre recommandation'}}) }}
            <button type="submit" class="btn btn-success">Commenter !</button>
            {{ form_end(form) }}
        {% else %}
            <h2>Vous ne pouvez pas donner une recommandation si vous n'êtes pas connecté !</h2>
            <a href="{{ path('app_login') }}" class="btn btn-primary">Connexion</a>
        {% endif %}
    </section>
{% endblock %}
