{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1 class="font-weight-normal">Inscription</h1>
    {{ form_start(formRegistration) }}
    {{ form_widget(formRegistration) }}
    {{ form_end(formRegistration) }}
{% endblock %}
