{% extends 'base.html.twig' %}

{% block title %}Edit Films{% endblock %}

{% block body %}
    <h1>Editer les Films</h1>

    {{ include('films/_form.html.twig', {'button_label': 'Mise à jour'}) }}

    <a href="{{ path('films.index') }}" class="btn btn-secondary">Retour à la liste</a>

    {{ include('films/_delete_form.html.twig') }}
{% endblock %}
