{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block body %}
    <h1>Gérer les films</h1>
    <a href="{{ path('films.new') }}" class="btn btn-primary mb-3">Nouveau Film</a>
    {% for film in films %}
        <div class="card mb-3">
            <img class="card--img-top" src="{{ film.image }}" alt="Card image">
            <div class="card-body">
                <h5 class="card-title">{{ film.titre }}</h5>
                <p class="card-text">Description: {{ film.description }}</p>
                <p class="card-text">Date de sortie: {{ film.createdAt ? film.createdAt|date('d-m-Y') : '' }}</p>
                <p class="card-text">Réalisateur: {{ film.realisateur }}</p>
                <p class="card-text">Acteur: {{ film.acteur }}</p>
                <p class="card-text">Durée: {{ film.duree }}</p>
            </div>
            <div class="d-flex">
                <a href="{{ path('films.show', {'id': film.id}) }}" class="btn btn-info mx-2">Voir</a>
                <a href="{{ path('films.edit', {'id': film.id}) }}" class="btn btn-secondary mx-2">Editer</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
