{% extends 'base.html.twig' %}

{% block title %}New Films{% endblock %}

{% block body %}
    <h1>Créer un nouveau Films</h1>

    {{ include('films/_form.html.twig') }}

    <a href="{{ path('films.index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
