{% extends 'base.html.twig' %}

{% block title %}Films{% endblock %}

{% block body %}
    <h1>Films</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ film.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ film.description }}</td>
            </tr>
            <tr>
                <th>Realisateur</th>
                <td>{{ film.realisateur }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ film.createdAt ? film.createdAt|date('d-m-Y') : '' }}</td>
            </tr>
            <tr>
                <th>Acteur</th>
                <td>{{ film.acteur }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ film.duree }}</td>
            </tr>
        </tbody>
        <img class="card--img-top" src="{{ film.image }}" alt="Card image">
    </table>

    <a href="{{ path('films.index') }}" class="btn btn-secondary">Retour à la liste</a>

    <a href="{{ path('films.edit', {'id': film.id}) }}" class="btn btn-info">Editer</a>

    {{ include('films/_delete_form.html.twig') }}
{% endblock %}
