{% extends 'base.html.twig' %}

{% block title %}Espace membre!{% endblock %}

{% block body %}
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <div class="card-header">Votre profil</div>
        <div class="card-body">
            <h5 class="card-title">{{ membre.nom}} {{ membre.prenom}}</h5>
            <p class="card-text">{{ membre.age }} ans</p>
            <p class="card-text">{{ user.username }}</p>
            <a href="{{ path('app_forgotten_password') }}" class="btn btn-danger">Changer mon mot de passe</a>
        </div>
    </div>
{% endblock %}
