{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
    <div class="container">
        <img src="https://via.placeholder.com/300x640" class="rounded float-left pr-3" alt="...">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse facilisis facilisis libero sit amet
            placerat. Aenean sagittis in tortor vel pulvinar. Ut vehicula nulla libero, ac aliquam erat molestie sit
            amet. Praesent eget dolor semper, ultrices nunc eu, posuere lectus. Integer ornare vehicula mi, vitae
            vulputate eros laoreet eget. Nullam pulvinar diam in metus suscipit, vel bibendum risus posuere. Etiam ut
            libero placerat, dapibus felis sit amet, congue libero. Integer ut augue at dui consequat faucibus. Duis id
            ultricies diam, vitae fermentum massa. Curabitur in ipsum eu orci iaculis sagittis ut eu purus. Proin
            pretium massa a nibh tincidunt, eget maximus turpis suscipit. Etiam orci ex, iaculis eget molestie et,
            fringilla sed velit.</p>
        <p>
            Donec aliquet aliquam nunc, nec vehicula odio. Phasellus id fringilla enim. Phasellus vel semper sapien, non
            feugiat risus. Phasellus lectus libero, euismod a leo ut, fermentum varius tortor. Donec nulla metus,
            eleifend at malesuada vitae, tristique id diam. Fusce ut bibendum mauris, ac molestie dui. Donec mauris mi,
            venenatis a nunc a, efficitur fermentum nisl. Fusce in ultricies diam. Phasellus malesuada nibh sed eros
            molestie, et gravida tellus sagittis. Fusce viverra arcu dolor, ut ultrices ligula tincidunt vel. Nam a
            pretium leo, a auctor lacus. Morbi rutrum sit amet felis ut mollis. Etiam vitae aliquam est. Vivamus
            consequat lacinia magna, at varius nisi maximus a. Orci varius natoque penatibus et magnis dis parturient
            montes, nascetur ridiculus mus. Vestibulum aliquet mattis tortor.
        </p>
        <p>
            Curabitur nunc nunc, aliquam a turpis sit amet, porta cursus est. Aenean nec rhoncus mi, vel pretium leo.
            Fusce elementum hendrerit magna. Nullam non tortor justo. Suspendisse vitae lorem eget lacus pulvinar tempus
            eu et quam. Morbi ullamcorper lectus nibh, ut laoreet tortor iaculis eu. Donec fringilla tellus eu dui
            facilisis fringilla.</p>
        <p>
            Nunc feugiat tellus ac turpis eleifend, a hendrerit est consequat. Vivamus ultricies, metus sit amet
            consequat malesuada, turpis eros feugiat tortor, nec fermentum ex diam mattis ipsum. Duis blandit hendrerit
            risus sit amet consectetur. Aenean orci lorem, lobortis eget ornare vel, interdum a arcu. In vel justo
            tempus, pharetra libero vel, molestie mi.</p>

    </div>
{% endblock %}