{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100"
                     src="https://images.unsplash.com/photo-1564951141428-3dc40a03792d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80"
                     alt="First slide" style="width: 400px;height: 200px;">
            </div>
            {% for film in films %}
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{ film.image }}" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5>{{ film.titre }}</h5>
                        <p>{{ film.description }}</p>
                    </div>
                </div>
            {% endfor %}

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <h1 class="my-4">Bienvenue sur Top Movies</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam autem facilis iusto. Adipisci consectetur
        debitis dignissimos dolor ea fugiat fugit ipsa, magnam maxime, officiis pariatur perferendis possimus
        praesentium saepe sapiente sequi, unde? Ab accusamus accusantium adipisci aliquid aperiam architecto at aut
        consequuntur deserunt doloribus dolorum ducimus eaque eveniet expedita hic laudantium maxime minus nam natus
        necessitatibus nisi nobis, non numquam, odio optio perferendis perspiciatis quasi quibusdam quos reiciendis
        sapiente temporibus velit veritatis! Adipisci architecto doloremque, eaque est ex nihil quis soluta veritatis!
        Accusamus corporis culpa cum cumque cupiditate error facilis illo impedit magni molestias, necessitatibus non
        nostrum odio quis quos, repellat sit veritatis! Alias architecto at, beatae cumque delectus distinctio eligendi
        eveniet, excepturi, fugiat iusto repellat soluta ut voluptatem. Accusantium culpa ex magni nam non perspiciatis
        porro possimus qui, vel veritatis. Magnam porro reiciendis reprehenderit sed. Adipisci aliquid animi assumenda
        atque autem consectetur culpa cumque cupiditate dicta dolorem doloribus ducimus enim eum expedita id in iusto
        labore maxime minus nam nobis non numquam officia pariatur porro qui quisquam, rem sapiente sit unde? At
        exercitationem fugit ipsum libero minus nisi odit sint soluta, vel vitae? Aut cumque error fugiat laborum sint
        totam voluptate? Consectetur ducimus exercitationem minus possimus quas quis repellendus veritatis? Adipisci
        aspernatur beatae cumque debitis dolorum esse harum illo impedit itaque, magnam molestias nesciunt quia quod
        quos reiciendis rem sint sunt tempore vel vitae. Doloribus eveniet nemo placeat! Commodi esse facilis id itaque,
        molestiae, nam natus nulla officiis omnis quaerat quis quod repellendus reprehenderit sapiente veniam. Culpa
        cupiditate exercitationem facilis, harum minima necessitatibus nisi velit. Accusantium assumenda cumque mollitia
        porro, quae repellat tempore ullam? A debitis dolor minus voluptatem. Adipisci, aspernatur at beatae dolores ea
        eum iusto maxime, minima nam necessitatibus odit officia repellendus sed totam vero. Architecto assumenda dolore
        expedita incidunt molestiae placeat provident qui sapiente sed, sequi?
    </p>

{% endblock %}
