{% extends 'base.html.twig' %}

{% block title 'Gérer les utilisateurs' %}
{% block body %}
    <h1>Gérer les utilisateurs</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Age</th>
            <th>Administrateur</th>
        </tr>
        </thead>
        <tbody>
        {% for user in roles %}
            <tr>
                <td>{{ user.nom }}</td>
                <td>{{ user.prenom }}</td>
                <td>{{ user.age }}</td>
                {% for r in user.roles %}
                    <td>{{ r }}</td>
                {% endfor %}
                <td>
                    <a href="{{ path('user.edit',{id:user.user_id}) }}" class="btn btn-secondary">Editer</a>
                    <form action="{{ path('user.delete', {id: user.id}) }}" method="post"
                          style="display: inline-block;" onsubmit="return confirm('Etes-vous sûr ?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
                        <button class="btn btn-danger">Supprimer</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
